*{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
  /* background-image: linear-gradient(to left top, #9cb8e3, #a99de4, #ce77c9, #ec458e, #eb123e); */
  /* background-image: linear-gradient(to right , #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  background-color: #76ABAE;
 
}

.navigation-container{
  display: flex;
  background-color: #EEEEEE;
  align-items: center;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.pfp-img img{
  width: 4rem; 

}

.pfp-img{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.pfp-img a{
  text-decoration: none;

  font-style: italic;
  color: #31363F;
}
.pfp-img a:hover{
  transform:scale(1.1);
  transition: 0.2s;
  color: #222831 ;
}


/*  to do container  */


button{
  padding: 0.6rem;
  width: 100px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  color: #2D3250;
}

#del-btn{
  /* background-color: #fd8f35; */
  color: #31363F;
  border: 2px solid red;
  
  margin-left: 5rem;
  
}
#del-btn:hover{
  border: 2px solid red;
  background-color: rgb(253, 22, 22);
  color: #e1e7f3;
 
  /* font-size: 1.2rem; */
}

.del-container{
  display: flex;
  align-items: center;
  padding: 1rem;
  /* justify-content:space-around; */
  
}

#todo-input{
  padding: 0.6rem;
  outline: none;
}

#add-btn:hover{

  background-color: greenyellow;
  transition: 0.2s;
  transform: scale(1.1);
  margin-left: 0.4rem;
}